html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  font-family: "tt-lakes", sans-serif;
  margin: 0;
  background-color: #F8F8F8;
}
button{
  all: unset;
  cursor: pointer;
  
}
.header{
  border-bottom: 1px solid #D9FFF5;
  }
.buttons{
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  align-items: stretch;
  padding-top: 19px;
  padding-bottom: 23px;
}

.buttons__group{
height: 45px;
}
.buttons__group--left{
  display: flex;
  gap: 16px;
  
}
.buttons__group--right{
  display: flex;
  gap: 16px;
}
.buttons__button--circle-pink{
  border-radius: 50%;
  background-color: #FF3E79;
  width: 40px;
  height: 40px;
}
.buttons__button{
  display: flex;
  align-items: center;
  justify-content: center; 
  text-align: center;
  width: 40px;
  height: 40px;
}
.buttons__divider{
  margin-top: auto;
  margin-bottom: auto;
}

@media (min-width: 320px) and (max-width: 768px) {
  .buttons__button--tablet, .desktop-buttons, .information-paragraph--desktop, .information-paragraph--tablet{
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1119px) {
   .desktop-buttons, .information-paragraph--desktop{
    display: none;
  }
}
.main{
  padding-top: 24px;

}
@font-face {
  font-family: "tt-lakes";
  src: url(fonts/TTLakes-Regular.woff);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "tt-lakes";
  src: url(fonts/TTLakes-Medium.woff);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.main__carousel{
  display: flex;
  list-style-type: none;
  padding-left: 16px;
  gap: 20px;
  overflow-x: scroll;
}
    @media (min-width: 320px) and (max-width: 950px){
      .main__carousel{
    -webkit-mask-image: linear-gradient(to right, black 90%, transparent 100%);
  mask-image: linear-gradient(to right, black 90%, transparent 100%); 
  }   
    }
.main__carousel-item{
  font-size: 16px;
  color: #7E7E82;
  white-space: nowrap;
  padding-top: 8px;
}
.main__carousel-item--selected{
  border:2px solid #B8FFEC;
  background-color: #FFFFFF;
  border-radius: 6px;
 
  padding-bottom: 8px;
  padding-left: 17px;
  padding-right: 9px;
}


.main__selected-zone{
  display: flex;
  text-align: center;
  font-size: 14px;
}
.main__selected-zone-title{
  margin: 0;
  padding-left: 16px;
}
.main__information{
  display: flex;
  padding-bottom: 35px;
  flex-wrap: wrap;
}
.main__information-group{
  flex: 1 1 0;
    min-width: 300px;
}
.main__information-group.main__information-group--left{
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}
.main__information-picture {
  display: block;
  height: auto;
  max-width: 100%;
}
.main__information-button{
  display: flex;
  gap: 8px;
}
.main__information-text{
  font-weight: 450;
}
@media (min-width: 1120px){
  .main__carousel{
    gap:0 10px;
    padding-left: 32px;
    overflow:visible;
    flex-wrap: wrap;
}
  .main__carousel-item{
    font-size: 16px;
    color: #7E7E82;
    white-space: nowrap;
    padding-top: 8px;

    padding-bottom: 8px;
    padding-left: 23px;
    padding-right: 9px;
}
  .header--phone{
    display: none;
}
  .header--tablet{
    display: none;
}

  .main__carousel-item--selected{
    border:2px solid #B8FFEC;
    background-color: #FFFFFF;
    border-radius: 6px;
 
   padding-bottom: 8px;
   padding-left: 23px;
   padding-right: 22px;
}
  .desktop-buttons{
    margin-left: auto;
    display: flex;
    gap: 32px;
    justify-content: flex-end;
    padding-right: 30px;
    font-size: 16px;
  }
  .desktop-buttons__item{
    display: flex;
    font-weight: 500;
  }
  .desktop-buttons__text{
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 8px;
  }
  .desktop-buttons__button--circle-pink{
    display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #FF3E79;
  width: 40px;
  height: 40px;
}
}
